<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/IntelliJ/Selenium_Java_Allure/src/test/java/TestNG_Allure"><classes><class name="TestNG_Allure.TestSite"><methods><include name="Testcase1"/><include name="Testcase2"/><include name="Testcase3"/></methods></class></classes></test></suite>